@font-face {
    font-family: NyghtSerif;
    src:url('fonts/NyghtSerif-Regular.ttf') format('truetype'),
    url('fonts/NyghtSerif-Bold.ttf') format('truetype');
}

body {
    font-family: NyghtSerif
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 a {
    color: black; 
    text-decoration: none; 
}

header {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 240px;
}

.navigation-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.navigation-item {
    font-size: 44px;
    text-decoration: none;
    color: #000;
    flex: 1 1 30%; 
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
    color: rgb(255, 255, 255); 
    background-color: #000000;
    text-align: center;
    padding: 20px;
}
